body {
    transition: background-color 0.3s, color 0.3s;
  }
  .light-theme {
    background-color: #f3f4f6;
    color: #111b28;
  }
  .dark-theme {
    background-color: #1e293b;
    color: #e2e8f0;
  }